<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="DOMAIN_NAME_BSCSCAN" value="https://bscscan.com" />
		<add key="PATH_BSCSCAN" value="tokentxns" />
		<add key="UNKOWN_CRYPTO_IMG_BSCSCAN" value="/images/main/empty-token.png" />

		<add key="OUTPUT_PATH" value="D:\Crypto-Analyzer-Output" />
		<add key="OUTPUT_APPEND_PERIOD_IN_SECONDS" value="300" />
		
	</appSettings>
</configuration>